:root {
    --branding-color: #6c63ff;
    --secondary-color: rgb(248, 235, 215);
    --heading-font-family: "Playfair Display", serif;
    --default-font-family:"Poppins", sans-serif;
}

body {
    font-family: var(--default-font-family);
     background-image: url("images/logo.png");
     background-repeat: no-repeat;
     background-size: cover;
      background-attachment: fixed;
}

h1, h2, h3, h4, h5,h6{
    color: black;
    font-family:var(--heading-font-family) ;
    font-weight: bold;
}

h1 {
    font-size: 96px;
}
h2{
    font-size: 64px;
}
h4{
    font-size: 48px;
}

p{
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}
.head {
    background: var(--secondary-color) ;
    text-align: center;
    padding: 80px 20px ;
    background-image: url("https://images.unsplash.com/photo-1653629154017-80db78b02610?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDEwfDZzTVZqVExTa2VRfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
     background-repeat: no-repeat;
     background-size: cover;
     opacity: 0.5;
     color: white;
}
.head p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: red;
}
.head h1{
    color: red;
}
.head h2 {
    font-family: var(--default-font-family) ;
    color: red;
    font-weight: normal;
    line-height: 1.5;
    font-size: 24px;
}
.content-container{
    padding:60px 20px ;
}
.content h1{
    font-size: 64px;
    line-height: 80px;
}
.content h2{
    font-size: 18px;
    font-family: var(--default-font-family);
}
.content h3{
    font-family: var(--default-font-family);
    font-size: 24px;
    line-height: 1.5;
}
.content p{
    font-size: 14px;
}

#about{
    border: 3px solid var(--branding-color);
    border-radius: 50px;
}
.content{
    margin: 30px;
}

.btn-branding {
    background: var(--branding-color);
    border-radius: 20px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}
.btn-branding-outline {
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}
.project-description {
    padding: 120px 60px;
}
ul {
    list-style: none;
}
ul img{
    display: flex;
    width: 50px;
    padding: 0;
    margin: 0 20px;
    text-align: start;
}
.project-content{
    text-align: center;
    padding: 0;
}

.URL{
    border: 3px solid var(--branding-color);
    border-radius: 50px;
    text-decoration: none;
    padding: 8px 16px;
    font-family: var(--default-font-family);
    font-size: 20px;
    text-align: center;
}
:hover URL {
    color: #6c63ff;
    background-color: white;
}
hr {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}
 .navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: var(--branding-color);
}
footer{
    margin: 60px 0px;
}
footer .contact-box{
    background: var(--secondary-color);
    padding: 30px 120px;
    border-radius: 30px;
}
footer .contact-box p{
    margin: 0;
}
footer .email-link{
    text-decoration: none;
    color: black;
    font-size: 24px;
}
footer .email-link:hover{
    color: var(--branding-color);
}
footer .social-links a {
    margin: 0 20px;
    color: var(--branding-color);
    background: var(--secondary-color);
    padding: 10px 14px;
    font-size: 18px;
    border-radius: 50px;
    transition: all 100ms ease-in-out;
}
footer .social-links a:hover{
    color: white;
    background: var(--branding-color);
}

@media(max-width: 900px) {
    h1 {
        font-size: 60px;
        line-height: 2;
    }
    h2{
        font-size: 44px;
    }
    .head{
        padding: 80px 20px;
    }
    .project-description{
        padding: 0;
        text-align: center;
    }
    .content-container{
        text-align: center;
        padding: 0;
    }
}